<div class="container-fluid bg-white py-3">
    <div class="row align-items-center justify-content-between">
        <div class="col-auto text-center ms-4">
            <h4>{{heading}}</h4>
        </div>
        <div class="col-auto text-center me-4">
            {% if user.is_authenticated %}
                {% if user.profile.role == 'm' or user.profile.role == 'a' %}
                <a href="{% url 'events:event_create' %}" class="btn btn-outline-primary">+ Добавить событие</a>
                {% endif %}
                <a href="{% url 'account_logout' %}" class="btn btn-outline-danger">Выйти</a>
            {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-outline-primary">Войти</a>
            <a href="{% url 'account_signup' %}" class="btn btn-primary">Регистрация</a>
            {% endif %}
        </div>
    </div>
</div>