{% extends "__base.html" %}
{% load static %}
{% block title %}Real World Django{% endblock %}

{% block content %}
<!-- Start TOP_BAR -->
{% include "snippets/_top_bar.html"%}
<!-- End TOP_BAR -->
<!-- Start WRAPPER -->
<div class="container-fluid">
    <div class="row align-items-center justify-content-center"
         style="min-height: 450px; background-image: url(static/images/background/bg-1.jpg)">
        <div class="col-auto">
            <h1 class="text-white shadow-lg rounded p-4" style="font-size: 4.3rem">Выбери свое событие</h1>
        </div>
    </div>
</div>
<!-- End WRAPPER -->

<!-- Start EVENTS -->
<div class="container-fluid bg-white py-5 my-5">
    <div class="py-5">
        <p class="h1 text-center">Самое <span class="text-info"><u>интересное</u></span></p>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-xxl-4 justify-content-center g-4 mt-4">

            <!-- Start EVENT_ITEM -->
            {% for event in event_list %}
            <div class="col" >
                <div class="card mb-3 h-100 shadow">
                    <div class="card-body">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{event.logo_url}}" alt="{{ event }}" class="card-img">
                            </div>
                            <div class="col-md-8 ps-lg-3">
                                <h5 class="card-title">{{event.title}}</h5>
                                <p class="card-text">{{event.description|truncatechars:200 }}</p>
                                <p class="card-text">
                                    <small class="text-muted" >
                                        {{ event.date_start|date:"j E Y" }}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{event.get_absolute_url}}" class="btn btn-primary">Подробее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- End EVENT_ITEM -->

        </div>
        <div class="text-center mt-5">
            <a href="{% url 'events:event_list' %}" class="btn btn-outline-primary">Смотреть все</a>
        </div>
    </div>
</div>
<!-- End EVENTS -->

<!-- Start REVIEWS -->
<div class="container-fluid bg-white py-5 my-5">
    <div class="py-5">
        <p class="h1 text-center">Отзывы</p>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-xxl-4 justify-content-center g-4 mt-4">
            <!-- Start REVIEW_ITEM -->
            {% for review in review_list %}
            <div class="col" >
                <div class="card rounded bg-light pt-4 h-100 text-center">
                    <img src="{% static 'images/svg-icon/rating.svg' %}" class="card-img-top" alt="review"
                         style="max-height: 5rem">
                    <div class="card-body">
                        <p class="card-text" >
                            {{review.text}}
                        </p>
                    </div>
                    <div class="card-footer text-center fw-bold">
                        {{review.user.first_name}} {{review.user.last_name}}
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- End REVIEW_ITEM -->

        </div>
    </div>
</div>
<!-- End REVIEWS -->

<!-- Start FOOTER -->
{% include "snippets/_footer.html"%}
<!-- End FOOTER -->
{% endblock %}