{% extends "__base.html" %}
{% block title %}Войти{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Войти</h1>
            <hr>
            <form action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Войти</button>
                <a href="{% url 'accounts:password_reset' %}" class="btn btn-light">Забыли пароль?</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
